
// Custom Theming for Angular Material
// For more information: https://material.angular.io/guide/theming
@use '@angular/material' as mat;
// Plus imports for other components in your app.

// Include the common styles for Angular Material. We include this here so that you only
// have to load a single css file for Angular Material in your app.
// Be sure that you only ever include this mixin once!
@include mat.core();

// Define the palettes for your theme using the Material Design palettes available in palette.scss
// (imported above). For each palette, you can optionally specify a default, lighter, and darker
// hue. Available color palettes: https://material.io/design/color/
$piste-primary: mat.define-palette(mat.$indigo-palette);
$piste-accent: mat.define-palette(mat.$pink-palette, A200, A100, A400);

// The warn palette is optional (defaults to red).
$piste-warn: mat.define-palette(mat.$red-palette);

// Create the theme object. A theme consists of configurations for individual
// theming systems such as "color" or "typography".
$piste-theme: mat.define-light-theme((
  color: (
    primary: $piste-primary,
    accent: $piste-accent,
    warn: $piste-warn,
  )
));

// Include theme styles for core and each component used in your app.
// Alternatively, you can import and @include the theme mixins for each component
// that you are using.
@include mat.all-component-themes($piste-theme);

body{
    --mdc-theme-text-primary-on-background: #ffe877;
    background-color: black;
    color: #ffe877;
    font-family: impact, Roboto, "Helvetica Neue", sans-serif;
    padding: 5px;
}

html, body { height: 100%; }

.hidden{
  visibility: hidden;
  height: 0;
}

.display-none{
  display: none !important;
}

h1 {
  font-style: normal;
  font-size: 20px;
}

.border {
  border: 2px solid #ffe877;
}

.pointer{
  cursor: pointer;
}

button{
  justify-content: center;
  border: 2px solid #ffe877;
  background-color: black;
  color: #ffe877;
}
button:hover{
  cursor: pointer;
  background-color: #ffe877;
  color: black;
  .add-icon{
      transition: transform 330ms ease-in-out;
      transform: scale(8);
  }
}

.title{
  margin: 10px 0;
  text-align: center;
  padding: 8px;
  position: relative;
  button{
      margin: auto 1em;
  }
  .float-right{
      position: absolute;
      right: 0;
      top: 0;
      margin: 10px 10px;
      padding: 5px;
  }
}
.title1{
  font-size: 2.5em;
  letter-spacing: 8px;
}
.subtitle{
  font-style: italic;
  font-size: 1.2em;
}


.bars-container{
  height: 383px;
  display: flex;
  justify-content: center;
  align-items: flex-end;
}
.bars {
  height: 152px;
  width: 500px;
  display: flex;
  flex-direction: row;
  align-items: flex-end;
  .bar {
      background: #ffe877;
      height: 30px;
      width: 30px;
      margin: 0 2px;            
   }
  .bar:nth-child(1)  { animation-duration: 474ms; }
  .bar:nth-child(2)  { animation-duration: 433ms; }
  .bar:nth-child(3)  { animation-duration: 407ms; }
  .bar:nth-child(4)  { animation-duration: 458ms; }
  .bar:nth-child(5)  { animation-duration: 400ms; }
  .bar:nth-child(6)  { animation-duration: 427ms; }
  .bar:nth-child(7)  { animation-duration: 441ms; }
  .bar:nth-child(8)  { animation-duration: 419ms; }
  .bar:nth-child(9)  { animation-duration: 487ms; }
  .bar:nth-child(10) { animation-duration: 442ms; }
  .bar:nth-child(11) { animation-duration: 474ms; }
  .bar:nth-child(12) { animation-duration: 434ms; }
  .bar:nth-child(13) { animation-duration: 408ms; }
  .bar:nth-child(14) { animation-duration: 458ms; }
  .bar:nth-child(15) { animation-duration: 406ms; }
  .bar:nth-child(16) { animation-duration: 428ms; }
  .bar:nth-child(17) { animation-duration: 440ms; }
  .bar:nth-child(18) { animation-duration: 418ms; }
  .bar:nth-child(19) { animation-duration: 486ms; }
  .bar:nth-child(20) { animation-duration: 440ms; }
}
.bars-active .bar{
  animation: soundbars 0ms -800ms linear infinite alternate;  
  height: 10px;
}

@keyframes soundbars {
  0% {
     opacity: .35;
     height: 10px; 
  }
  100% {
      opacity: 1;       
      height: 150px;        
  }
}