
.preferences-input{
    margin: 20px auto;
    width: 500px;
    .preference-input{
        margin: auto;
        width: 100%;
    }
}

.song-info{
    width: 350px;
    margin: 20px auto;
    .song-title{
        margin: 10px auto;
        font-size: 23px;
        font-style: italic;
        text-align: center;
    }
    .song-artist{
        margin: 10px auto;
        font-size: 20px;
        text-align: center;
    }
}
.music-player {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 20px;
    .album-cover {
      width: 300px;
      height: 300px;
      img {
        width: 100%;
        height: 100%;
        object-fit: cover;
      }
    }
    .controls {
      display: flex;
      justify-content: space-between;
      width: 350px;
      margin-top: 20px;
      button {
        background: none;
        border: none;
        color: #333;
        font-size: 20px;
        .fa {
          transition: color 0.3s ease;
          &:hover {
            color: #007bff;
          }
        }
      }
    }
    .progress-bar {
      width: 350px;
      height: 20px;
      margin: 20px auto;
      border: #ffe877 2px solid;
    }
    .progress {
      height: 100%;
      background: #ffe877;
      position: relative;
      .spark {
        position: absolute;
        top: 0;
        right: 0;
        width: 3px;
        height: 120%;
        background: rgb(139, 84, 11) no-repeat center center;
        background-size: cover;
      }
    }
  }